# Environments
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Virtualenv tooling
pip-wheel-metadata/

# IDEs and tooling
.vscode/
.idea/
*.swp
.DS_Store

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log
